<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>timetable sorter</title>
  <link rel="stylesheet" href="main/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="main/list.js"></script>
</head>

<body class="loginpage">
  <!-- {% load crispy_forms_tags %}
  {% if error %} -->
  <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <!-- {% endif %} -->
  <div class="container">
    <div class="row align-items-center" style="height: 100vh;">
      <div class="col-md-12">
        <div class="row align-items-center box-main">
          <div class="col-md-6" id="image">
            <div class="info">
              <h1>Timetable Sorter.</h1>
              <p>A handy tool for the HR of the clubs. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Provident, ratione!</p>
            </div>
            <img class="img-fluid overlay" style="height: 20%;"
              src="https://raw.githubusercontent.com/ayushranjan6456/Timetable-UI/d6959b7c4a8bbec2f4cfdd5dc2e986c830928219/login.svg"
              alt="">

          </div>
          <div class="col-md-6 box-input">
            <form method="POST" action="{% url 'login' %}" class="login">
              <h3>Login</h3>
              <!-- {{ my_formset|crispy }}
                {% csrf_token %} -->
              <div class="form-group">
                <label for="inputusername">Username</label>
                <input type="text" id="inputusername" placeholder="ClubName" name="username">
              </div>
              <div class="form-group">
                <label for="inputPassword1">Password</label>
                <input type="password" id="inputPassword1" placeholder="Password" name="password">
              </div>
              <div class="row align-items-center">
                <div class="col-7 text-left">
                  <a href="#">Forgot Password?</a>
                </div>
                <div class="col-5">
                  <button type="submit" class="btn btn-secondary btn-sm btn-block my-auto"
                    style="display: inline;">Login</button>
                </div>
              </div>
            </form>
            <div class="forgot" href="">Don't have an account? <span> <a href="#" onclick="signup()"> Sign
              Up</a></span>
        </div>
            <form class="signup" method="POST" action="{% url 'login' %}">
              <p onclick="signup()"> &#8592; </p>
              <h3>Signup</h3>
              <!-- {{ my_formset|crispy }}
                {% csrf_token %} -->
              <div class="form-group">
                <label for="inputusername">Email ID</label>
                <input type="text" id="inputemail" placeholder="E-mail" name="email">
              </div>
              <div class="row justify-content-end">
                <div class="col-5">
                  <button type="submit" class="btn btn-secondary btn-lg btn-block" >SignUp</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>