* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #7ee8fa;
  background-image: linear-gradient(-315deg, #7ee8fa 0%, #80ff72 74%);
}

.loginpage .box-main {
  margin: auto auto;
  max-width: 900px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 10px 5px #575757;
          box-shadow: 1px 1px 10px 5px #575757;
}

.loginpage #image {
  background: #0a0a0a5b;
  border-radius: 20px 0 0 20px;
  min-height: 550px;
}

.loginpage img {
  -webkit-filter: saturate(0.75) brightness(60%) contrast(100%);
          filter: saturate(0.75) brightness(60%) contrast(100%);
  border-radius: 20px 0 0 20px;
}

.loginpage .info {
  -webkit-text-stroke: 0.5px black;
  z-index: 2;
  position: absolute;
  padding: 10px;
  color: white;
  min-height: 550px;
}

.loginpage .info h1 {
  font-size: 5.5vmax;
  line-height: 1;
  font-weight: 900;
  margin-top: 100px;
  margin-bottom: 20px;
  stroke: 0.1px lightgray;
}

.loginpage .info p {
  font-weight: bolder;
  position: absolute;
  padding-right: 30px;
  bottom: 50px;
}

.loginpage .box-input {
  padding: 30px;
}

.loginpage .login {
  max-width: 350px;
  margin: 0 auto;
}

.loginpage .login a {
  color: gray;
}

.loginpage h3 {
  color: #414141;
  margin: 20px 0;
  font-weight: bold;
}

.loginpage label {
  float: left;
  font-size: 16px;
  font-weight: 700;
  color: #414141;
  margin: 10px 0 0 0;
}

.loginpage input {
  width: 100%;
  margin-top: 10px;
  padding: 10px 5px;
  font-size: 16px;
  border: none;
  outline: none;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
}

.loginpage input::-webkit-input-placeholder {
  color: #c7c7c7;
}

.loginpage input:-ms-input-placeholder {
  color: #c7c7c7;
}

.loginpage input::-ms-input-placeholder {
  color: #c7c7c7;
}

.loginpage input::placeholder {
  color: #c7c7c7;
}

.loginpage input:focus {
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
  border: 1px solid #069e2c;
}

.loginpage button {
  color: #fff;
  font-size: 16px;
  max-width: 150px;
  padding: 10px 10px;
  border-radius: 12px;
  display: block;
  outline: none;
  background-image: linear-gradient(135deg, #70f570 10%, #49c628 100%);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.loginpage button:hover {
  background-image: linear-gradient(160deg, #70f570 10%, #49c628 100%);
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease-in-out 0.35s;
  -moz-transition: ease-in-out 0.35s;
  -ms-transition: ease-in-out 0.35s;
  -o-transition: ease-in-out 0.35s;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.loginpage .forgot {
  max-width: 350px;
  text-align: center;
  background-color: #e1f8e1;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px #a6f1a6 solid;
  border-radius: 10px;
  font-size: medium;
  margin: 50px auto 0px;
}

.loginpage .forgot span {
  font-weight: 750;
}

.loginpage .forgot a {
  color: #349234;
}

.loginpage .signup {
  margin: 0 auto 25px;
  padding: 15px;
  display: none;
}

.loginpage .signup p {
  display: inline;
  font-size: x-large;
  cursor: pointer;
}

.loginpage .signup p:hover {
  text-shadow: #6d6d6d 1px 1px 5px;
}

@media screen and (max-width: 399px) {
  .loginpage #image {
    display: none;
  }
  .loginpage .col-12 {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    padding: 10px;
  }
  .loginpage .box-input {
    padding: 20px;
  }
}

@media screen and (min-width: 400px) and (max-width: 767px) {
  .loginpage #image {
    display: none;
  }
  .loginpage .col-md-12 {
    padding: 50px;
  }
  .loginpage .box-input {
    padding: 20px;
  }
  .loginpage .forgot {
    padding: 18px;
  }
}
/*# sourceMappingURL=styles.css.map */