* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #7ee8fa;
  background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}

nav {
  margin-bottom: 25px;
}

.tt_sorter {
  padding: 10px;
}

.column {
  width: 400px;
  margin: auto auto;
}

.get_slots {
  padding: 10px;
}

.loginpage .box-main {
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 20px 15px #575757;
          box-shadow: 1px 1px 20px 15px #575757;
}

.loginpage #image {
  background: #0f0f0f5b;
  border-radius: 20px 0 0 20px;
}

.loginpage img {
  -webkit-filter: saturate(0.75) brightness(60%) contrast(100%);
          filter: saturate(0.75) brightness(60%) contrast(100%);
  border-radius: 20px 0 0 20px;
}

.loginpage .info {
  -webkit-text-stroke: 0.5px black;
  z-index: 2;
  position: absolute;
  padding: 30px;
  color: white;
}

.loginpage .info h1 {
  font-size: 6.5vmax;
  line-height: 1;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 20px;
}

.loginpage .info p {
  margin-top: 30px;
  font-weight: 900;
}

.loginpage h2 {
  font-weight: bold;
}

.loginpage label {
  float: left;
  font-size: 20px;
  color: #8c8d8c;
  margin: 10px 0 0 0;
}

.loginpage input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #b0b3b9;
}

.loginpage input:focus {
  border-bottom: 2px solid #069e2c;
}

.loginpage button {
  color: #fff;
  font-size: 16px;
  padding: 20px 35px;
  border-radius: 50px;
  display: block;
  outline: none;
  -webkit-box-shadow: 0px 4px 20px 0px #49c628a6;
  box-shadow: 0px 4px 20px 0px #49c628a6;
  background-image: linear-gradient(135deg, #70f570 10%, #49c628 100%);
}

.loginpage .col-md-5 {
  text-align: center;
  padding: 50px;
}

@media screen and (max-width: 768px) {
  .loginpage .col-12 {
    padding: 50px;
  }
}

@media screen and (max-width: 640px) {
  .loginpage .col-md-7 {
    display: none;
  }
}

#textareaerror,
#reg_no_error {
  font-size: 12px;
  display: none;
}

.add-form {
  height: 100vh;
  margin: 5vh;
}

.add-form .form {
  background-color: white;
  height: 80vh;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.add-form label {
  float: left;
  font-size: 20px;
  color: #8c8d8c;
  margin: 10px 0 0 0;
}

.add-form .input-block {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #b0b3b9;
}

.add-form .input-block:focus {
  border-bottom: 2px solid #069e2c;
  outline: none;
}

.add-form textarea {
  resize: none;
}

@media screen and (max-width: 640px) {
  .add-form .row {
    display: none;
  }
}

.tablecol {
  overflow: scroll;
}

.tablecol::-webkit-scrollbar {
  display: none;
}

.tablecol .tableMain {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
}

.tablecol .tableMain::-webkit-scrollbar {
  display: none;
}

.tablecol .tableMain table {
  width: 1000px;
  height: 500px;
  table-layout: fixed;
  overflow: hidden;
}

.tablecol .tableMain table tbody {
  background-color: black;
}

.tablecol .tableMain table tbody td {
  width: 10%;
  padding: 5px;
}

.tablecol .tableMain table tbody .blue {
  background-color: cornflowerblue;
}

.tablecol .tableMain table tbody .red {
  background-color: lightcoral;
}

.cells_change {
  background-color: #ccff33;
  color: black;
}

.table_list {
  width: 90%;
  margin: 20px 0 0 0;
}

.table_list .table {
  border-radius: 20px;
}

.table_list .table th {
  border: none;
}

.sorted_table {
  width: 90%;
  overflow: scroll;
}

.sorted_table::-webkit-scrollbar {
  display: none;
}

.sorted_table .sorted_tt_table {
  font-size: 12px;
}

.sorted_table .sorted_tt_table tr td p {
  font-weight: 500;
}

.sorted_table .sorted_tt_table .break {
  padding: none;
  margin: none;
  border: none;
  font-size: 5px;
  color: whitesmoke;
  background-color: #2a2a2a;
  width: 5px;
}

.table-responsive {
  height: 600px;
  border-radius: 20px;
}

.table-responsive::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.table-responsive::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 5px;
}

.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #7a99d9), color-stop(0.72, #497dbd), color-stop(0.86, #1c3a94));
}

table {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

thead {
  text-align: center;
}

tbody tr th {
  font-size: 12px;
}

.badge {
  border: solid 0.5px lightgrey;
}
/*# sourceMappingURL=styles.css.map */